html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/** styling for header **/

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    font-size: 22px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/** styling for hero **/

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 120px 200px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    flex: 1;
    margin-right: 20px;
}

.hero button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 8px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 500px;
    flex: 1;
}

/** styling for section two **/

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 200px;
}

.section-two h2 {
    font-size: 36px;
    color: #1F2937;
}

.card-group {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 180px;
    margin: 20px 20px 100px;
}

.card img{
    max-width: 160px;
    max-height: 160px;
    border: 4px solid #3882f6;
    border-radius: 14px;
}

.card p {
    margin: 5px;
    color: #1F2937;
}

/** styling for section three **/

.section-three {
    background-color: #E5E7EB;
    padding: 120px 300px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0px;
}

.quote-author {
    font-weight: 900;
    font-size: 24px;
    align-self: flex-end;
    margin: 10px;
}

/** styling for section four **/

.section-four {
    padding: 120px 200px;
}

.call-to-action {
    background-color: #3882f6;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.call-to-action-text h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.call-to-action-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}

.call-to-action button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    border-color: #F9FAF8;
    padding: 8px 36px;
    border-radius: 8px;
}

/** styling for footer **/
.footer {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}